body {
  font-family: "Open Sans", sans-serif;
}

header {
  text-transform: uppercase;
}

.product-image {
  height: 300px;
}

.product-image-tag {
  height: 100%;
}

.variants-container {
  display: flex;
}

.variant {
  width: 70px;
  border-radius: 5px;
  padding-top: 10px;
  text-align: center;
}

.variant:hover {
  box-shadow: 2px 2px lightgray;
}

.variants-image {
  max-height: 50px;
  max-width: 50px;
  border: solid black 1px;
}

figcaption {
  text-align: center;
}

.variantSelected {
  background-color: orange;
}

button {
  width: 10rem;
  height: 2rem;
  border: none;
  border-radius: 5px;
  color: white;
}

.addBasket {
  background-color: green;
}

.disabledButton {
  background-color: lightgray;
}

.removeBasket {
  background-color: gray;
}

.basket {
  width: 10rem;
  border: solid black 1px;
  text-align: center;
  border-radius: 5px;
}

footer {
  color: gray;
}
